@import url('./simple-sidebar.css');

.bg-principal {
  background: #2e405a;
}

.bg-principal:hover {
  background: #2e405a;
}
.bg-principaldarker {
  background: #202d3f;
}

.no-border {
  border-radius: 0;
}

.list-group a:hover {
  text-decoration: none;
}

.no-hover:hover {
  background: #111822;
}

.move-left {
  display: none;
}

#menu-toggle {
  color: #fff;
}

.text-black {
  color: #000 !important;
}

li:hover {
  background: rgba(255, 255, 255, 0.884);
}

.btn-hover-custom:hover {
  background: transparent;
}

.btn-hover-custom:active {
  background: #202d3f !important;
}

.fixed {
  position: fixed;
  top: 59px;
  z-index: 5000;
}

.fixed_nav {
  position: fixed;
  border-bottom: 20px solid #fff;
}

.mlcustom {
  position: absolute;
  z-index: -5;
  left: 50px;
  top: 80px;
}

.container .second_row .congresistas_lista #congr_list {
  width: 80%;
  margin: 0 auto;
}

.container .second_row .congresistas_lista .congresista {
  float: left;
  border: 1px solid #2e405a;
  width: 160px;
  min-height: 270px;
  max-height: 270px;
  margin: 10px;
}

.container .second_row .congresistas_lista .comision {
  text-align: center;
  margin-top: 15px;
}

.container .second_row .congresistas_lista .congresista .foto_congresista {
  text-align: center;
}

.container .second_row .congresistas_lista .congresista .foto_congresista img {
  border-radius: 0 !important;
  width: 100%;
  vertical-align: top;
  min-width: 158px;
  max-width: 158px;
  min-height: 129px;
  max-height: 129px;
}

.container .second_row .congresistas_lista .congresista .nombre_congresista {
  text-align: center;
  border-top: 1px solid #2e405a;
  padding-top: 20px;
}

.container .second_row .congresistas_lista .flecha_derecha {
  float: left;
  margin-left: 10px;
}

@media screen and (max-width: 1599px) {
  .container .second_row .congresistas_lista {
    width: 100%;
  }
}

@media (min-width: 400px) {
  .mlcustom {
    position: absolute;
    z-index: -5;
    left: 75px;
  }
}

@media (min-width: 768px) {
  .mlcustom {
    position: absolute;
    z-index: -5;
    left: 100px;
  }
}

@media (min-width: 1200px) {
  .mlcustom {
    position: absolute;
    z-index: -5;
    left: 130px;
  }
}
