@import url('./simple-sidebar.css');

.bg-principal {
  background: #2e405a;
}

.bg-principal:hover {
  background: #2e405a;
}
.bg-principaldarker {
  background: #202d3f;
}

.list-group a:hover {
  text-decoration: none;
}

.no-hover:hover {
  background: #111822;
}

.btn-hover-custom:hover {
  background: transparent;
  color: #fff;
}

.btn-hover-custom:active {
  background: #202d3f !important;
  color: #fff !important;
}

.card-container {
  display: flex;
  flex-flow: row wrap !important;
  justify-items: space-between !important;
  margin-top: 10px;
  margin: 10px auto;
}

.title-congress {
  font-size: 32px;
}

.card {
  width: 12rem !important;
  margin: 15px auto;
}

.card img {
  max-height: 190px;
  min-height: 190px;
}
@media screen and (max-width: 1599px) {
  .container .second_row .congresistas_lista {
    width: 100%;
  }
}
