.title-contenedor {
  font-size: 26px;
  /* padding: 30px 0 0; */
  display: inline-block;
}

.principal {
  padding: 0 20px 100px !important;
}

.negativo {
  padding: 100px 20px 250px !important;
}
.contenedor-sector {
  padding: 100px 20px 100px;
}

.sector {
  height: 15em;
  cursor: pointer;
}

.bg-grey {
  background: rgba(200, 200, 200, 1);
  background: #141c27;
}

.sector-a {
  border: 2px solid rgb(52, 58, 64) !important;
  z-index: -3;
}
.sector-b {
  border: 2px solid rgb(40, 167, 69) !important;
  z-index: -3;
}
.sector-c {
  border: 2px solid rgb(220, 53, 69) !important;
  z-index: -3;
}
.sector-d {
  border: 2px solid rgb(52, 58, 64) !important;
  z-index: -3;
}

.contador_a {
  width: 50px;
  border: 2px solid rgb(52, 58, 64);
  height: 25px;
  background: #fff;
  text-align: center;
  padding-bottom: 25px;
  z-index: 50000;
}
.contador_b {
  width: 50px;
  border: 2px solid rgb(40, 167, 69);
  height: 25px;
  background: #fff;
  text-align: center;
  padding-bottom: 25px;
  z-index: 50000;
}
.contador_c {
  width: 50px;
  border: 2px solid rgb(220, 53, 69);
  height: 25px;
  background: #fff;
  text-align: center;
  padding-bottom: 25px;
  z-index: 50000;
}
.contador_d {
  width: 50px;
  border: 2px solid rgb(52, 58, 64);
  height: 25px;
  text-align: center;
  padding-bottom: 25px;
  background: #fff;
  z-index: 50000;
}

.congresmen {
  height: 12em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.index {
  z-index: 5000;
}

.card-container {
  /* overflow-y: scroll; */
}

.title-congress {
  font-size: 32px;
}

.card {
  cursor: pointer;
  width: 10rem !important;
  margin: 5px auto;
  max-height: 250px !important;
}

.card img {
  max-height: 80px;
  min-height: 20px;
}

.card-mini {
  display: inline-flex;
  cursor: pointer;
  width: 60px !important;
  margin: 5px auto;
  max-height: 250px !important;
}

.card-mini-static {
  width: 6rem !important;
  position: relative;
}

.card-mini img {
  max-height: 50px;
  min-height: 20px;
}

.card-mini .card-body {
  display: none;
}

.card .card-footer {
  display: none;
}
.card-mini .card-footer {
  display: none;
}

.card-mini p {
  font-size: 12px;
  display: none;
}
.hoversector_a,
.hoversector_d {
  background: rgba(147, 164, 182, 0.5);
}

.hoversector_b {
  background: rgba(40, 167, 69, 0.5);
}

.hoversector_c {
  background: rgba(220, 53, 69, 0.5);
}

@media (min-width: 768px) {
  .contenedor-sector {
    padding: 10px 5px 0px !important;
  }
  .neutral-d,
  .negativo {
    padding: 10px 5px 50px !important;
  }
  .title-contenedor {
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }
  .congresmen {
    height: 12em;
    position: static;
    overflow-y: scroll;
  }
  .navbar-custom {
    position: static;
  }
  .card {
    cursor: pointer;
    width: 10rem !important;
    margin: 8px auto;
    max-height: 250px !important;
  }
}

@media only screen and (max-width: 768px) and (min-height: 600px) and (max-height: 650px) {
  .principal {
    padding: 0 20px 150px !important;
  }

  .negativo {
    padding: 100px 20px 250px !important;
  }
  .contenedor-sector {
    padding: 100px 20px 150px;
  }
}
@media only screen and (max-width: 768px) and (min-height: 651px) and (max-height: 701px) {
  .principal {
    padding: 0 20px 200px !important;
  }

  .negativo {
    padding: 100px 20px 250px !important;
  }
  .contenedor-sector {
    padding: 100px 20px 200px;
  }
}

@media only screen and (max-width: 768px) and (min-height: 701px) and (max-height: 812px) {
  .principal {
    padding: 0 20px 310px !important;
  }

  .negativo {
    padding: 100px 20px 250px !important;
  }
  .contenedor-sector {
    padding: 100px 20px 350px;
  }
}
