/*  
Colores: 

Azul presidencia: #2E405A

*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Estilos Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Lato';
  overflow-x: hidden;
  /* overflow: hidden; */
}

/* Navbar */

nav {
  background: #2e405a;
  width: 100%;
  overflow: hidden;
}

nav .title {
  float: left;
  margin: 10px;
}

nav .title h1 {
  color: #fff;
  font-size: 1em;
}

nav .links {
  float: right;
}

nav .links a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  margin-bottom: 5px;
}

nav .links a:hover {
  color: #ddd;
}

/* Main */

main .first_row {
  width: 100%;
  overflow: hidden;
}

/* Firts column */

main .first_row .partidos {
  width: 30%;
  float: left;
  max-width: 232px;
  border-right: 1px solid #2e405a;
}

main .first_row .partidos ul {
  list-style: none;
}

main .first_row .partidos ul li.list_title {
  background: #ddd;
  border-top: none;
}

main .first_row .partidos ul li.list_title h2 {
  font-size: 1em;
}

main .first_row .partidos ul li.partido_cd {
  background: #224875;
  color: #fff;
}

main .first_row .partidos ul li.partido_cr {
  background: #00529e;
  color: #fff;
}

main .first_row .partidos ul li.partido_pl {
  background: #d40000;
  color: #fff;
}

main .first_row .partidos ul li.partido_pc {
  background: #004699;
  color: #fff;
}

main .first_row .partidos ul li.partido_pu {
  background: #54af36;
  color: #fff;
}

main .first_row .partidos ul li.partido_aico {
  background: #ef0000;
  color: #fff;
}

main .first_row .partidos ul li.partido_polo {
  background: #fff103;
  color: #000;
}

main .first_row .partidos ul li.partido_mira {
  background: #0c0a6d;
  color: #fff;
}

main .first_row .partidos ul li.partido_av {
  background: #00813c;
  color: #fff;
}

main .first_row .partidos ul li.partido_mais {
  background: #f20000;
  color: #fff;
}

main .first_row .partidos ul li.partido_ch {
  background: #d53052;
  color: #fff;
}

main .first_row .partidos ul li.partido_f {
  background: #d50616;
  color: #fff;
}

main .first_row .partidos ul li {
  text-align: center;
  border-top: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

/* Second Column */

main .first_row .contenedor_grafico {
  width: 85%;
  float: right;
  padding: 20px;
  z-index: -3;
  /* padding-bottom: 0; */
}

main .first_row .contenedor_grafico .sector {
  border: 1px solid #2e405a;
  width: 49%;
  float: left;
  height: 15em;
  margin: 2px;
}

main .first_row .contenedor_grafico .sector .contador {
  border: 1px solid #2e405a;
  /* display: inline-block; */
  margin: 10px;
  float: left;
  width: 55px;
  text-align: center;
}

main .first_row .contenedor_grafico .sector_a p,
main .first_row .contenedor_grafico .sector_d p {
  /* letter-spacing: 0.1px; */
  /* display: inline-block; */
  margin: 10px;
  float: right;
}

main .first_row .contenedor_grafico .sector_c .contador {
  margin-top: 25px;
}

main .first_row .contenedor_grafico .sector_a p {
  margin-right: 50px;
}

main .first_row .contenedor_grafico .sector_d p,
main .first_row .contenedor_grafico .sector_d .contador {
  margin-top: 25px;
}

/* Second Row */

main .second_row {
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #2e405a;
  /* padding-top: 10px; */
  overflow: hidden;
}

/* Logo  */

main .second_row .logo_mininterior {
  width: 30%;
  max-width: 231px;
  float: left;
  text-align: center;
  position: fixed;
}

main .second_row .logo_mininterior a img {
  width: 90%;
  max-width: 231px;
  text-align: center;
  position: relative;
  top: 50px;
  margin-top: 5px;
  align-self: flex-end;
}

/* Congresistas */

main .second_row .congresistas_lista {
  float: left;
  width: 100%;
  padding: 20px;
  position: absolute;
  /* z-index: -3; */
  border: 1px solid #2e405a;
  border-right: none;
  border-bottom: none;
  border-top: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

main .second_row .congresistas_lista .congr_list {
  margin: 0 auto;
}

main .second_row .congresistas_lista .flecha_izquierda {
  float: left;
}

main .second_row .congresistas_lista .flecha_izquierda #flecha_izquierda_link,
main .second_row .congresistas_lista .flecha_derecha #flecha_derecha_link {
  font-size: 36px;
  color: #2e405a
}

main .second_row .congresistas_lista .flecha_izquierda #flecha_izquierda_link:hover,
main .second_row .congresistas_lista .flecha_derecha #flecha_derecha_link:hover {
  font-size: 36px;
  color: #ff9802;
}


main .second_row .congresistas_lista .congresista {
  float: left;
  border: 1px solid #2e405a;
  width: 100px;
  min-height: 184px;
  background: #fff;
  max-height: 184px;
  margin-left: 10px;
}

main .second_row .congresistas_lista .congresista .foto_congresista {
  text-align: center;
  width: 100%;
}

main .second_row .congresistas_lista .congresista .foto_congresista img {
  /* border-radius: 100%; */
  vertical-align: top;
  min-width: 98px;
  max-width: 98px;
  min-height: 78px;
  max-height: 78px;
  width: 100%;
}

main .second_row .congresistas_lista .congresista .nombre_congresista {
  text-align: center;
  border-top: 1px solid #2e405a;
}

main .second_row .congresistas_lista .congresista .nombre_congresista p {
  margin: 10px 0;
}

main .second_row .congresistas_lista .flecha_derecha {
  float: left;
  margin-left: 10px;
}

.hoversector_a {
  background: #439b8f;
}

.hoversector_b {
  background: #2ae619f6;
}

.hoversector_c {
  background: #da3434;
}

.hoversector_d {
  background: #439b8f;
}

@media screen and (min-width: 1920px) {
  .sector_a {
    background: url('../img/1920/sector_a.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_b {
    background: url('../img/1920/sector_b.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_c {
    background: url('../img/1920/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/1920/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}

@media screen and (max-width: 1600px) {
  main .first_row .contenedor_grafico {
    width: 80%;
  }

  main .second_row .congresistas_lista {
    width: 100%;
  }

  .sector_a {
    background: url('../img/1600/sector_a.png') no-repeat #fff;
    background-size: 100%;
    background-position-y: 20px;
  }

  .sector_b {
    background: url('../img/1600/sector_b.png') no-repeat #fff;
    background-size: 100%;
    background-position-y: 20px;
  }

  .sector_c {
    background: url('../img/1600/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/1600/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}

@media screen and (max-width: 1370px) {
  .sector_a {
    background: url('../img/1600/sector_a.png') no-repeat #fff;
    background-size: 100%;
    background-position-y: 55px;
  }

  .sector_b {
    background: url('../img/1600/sector_b.png') no-repeat #fff;
    background-size: 100%;
    background-position-y: 55px;
  }

  .sector_c {
    background: url('../img/1600/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/1600/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}

@media screen and (max-width: 1160px) {
  main .first_row .contenedor_grafico {
    width: 75%;
  }

  main .second_row .congresistas_lista {
    width: 100%;
  }

  .sector_a {
    background: url('../img/1160/sector_a.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_b {
    background: url('../img/1160/sector_b.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_c {
    background: url('../img/1160/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/1160/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}

@media screen and (max-width: 927px) {
  main .first_row .contenedor_grafico {
    width: 70%;
  }

  main .second_row .congresistas_lista {
    width: 100%;
  }

  .sector_a {
    background: url('../img/927/sector_a.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_b {
    background: url('../img/927/sector_b.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_c {
    background: url('../img/927/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/927/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}

@media screen and (max-width: 790px) {
  main .first_row .contenedor_grafico {
    width: 70%;
  }

  main .second_row .congresistas_lista {
    width: 100%;
  }

  main .second_row .congresistas_lista .congresista {
    width: 100px;
  }

  .sector_a {
    background: url('../img/790/sector_a.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_b {
    background: url('../img/790/sector_b.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_c {
    background: url('../img/790/sector_c.png') no-repeat #fff;
    background-size: 100%;
  }

  .sector_d {
    background: url('../img/790/sector_d.png') no-repeat #fff;
    background-size: 100%;
  }
}