/*  
Colores: 

Azul presidencia: #2E405A

*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Estilos Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Lato';
}

/* Navbar */

nav {
  background: #2e405a;
  width: 100%;
  overflow: hidden;
}

nav .title {
  float: left;
  margin: 10px;
}

nav .title h1 {
  color: #fff;
  font-size: 1em;
}

nav .links {
  float: right;
}

nav .links a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  margin-bottom: 5px;
}

nav .links a:hover {
  color: #ddd;
}

/* Main */

main .first_row {
  width: 100%;
  overflow: hidden;
}

/* Firts column */

main .first_row .partidos {
  width: 30%;
  float: left;
  max-width: 232px;
  border-right: 1px solid #2e405a;
}

main .first_row .partidos ul {
  list-style: none;
}

main .first_row .partidos ul li.list_title {
  background: #ddd;
  border-top: none;
}
main .first_row .partidos ul li.list_title h2 {
  font-size: 1em;
}

main .first_row .partidos ul li {
  text-align: center;
  border: 1px solid #2e405a;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

/* Second Column */

main .first_row .contenedor_grafico {
  width: 85%;
  float: right;
  padding: 20px;
}

main .first_row .contenedor_grafico .sector {
  border: 1px solid #2e405a;
  width: 49%;
  float: left;
  height: 12.5em;
  margin: 2px;
}

main .first_row .contenedor_grafico .sector .contador {
  border: 1px solid #2e405a;
  /* display: inline-block; */
  margin: 10px;
  float: left;
  width: 55px;
  text-align: center;
}

main .first_row .contenedor_grafico .sector_a p,
main .first_row .contenedor_grafico .sector_d p {
  /* letter-spacing: 0.1px; */
  /* display: inline-block; */
  margin: 10px;
  float: right;
}
